<md-content class="md-padding md-margin" layout="row" ng-if="$ctrl.getShift()">
  <div layout="column" layout-fill>
    <div layout="row">
      <md-button class="md-raised md-primary"
        ng-click="$ctrl.back()"
        flex>
          Go Back
      </md-button>
      <md-button class="md-raised md-primary"
        ng-click="$ctrl.endShift()"
        flex>
          End Shift
      </md-button>
    </div>
    <div layout="row" layout-align="center center">
      <h1>Available Tables</h1>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="wrap">
      <div ng-repeat="table in $ctrl._tables">
        <md-button class="md-secondary md-fab md-warn md-hue-2" ng-hide="table.occupied" ng-click="$ctrl.setTable(table)">{{ table.tableNumber }}</md-button>
      </div>
    </div>
    <div layout="row" layout-align="center center" ng-show="$ctrl._hold.length">
      <h1>On Hold Orders</h1>
    </div>
    <md-divider ng-show="$ctrl._hold.length"></md-divider>
    <div layout="row" ng-show="$ctrl._hold.length" class="wrap">
      <div ng-repeat="holded in $ctrl._hold">
      <md-button class="md-secondary md-fab md-accent md-mini" ng-click="$ctrl.unhold(holded)">{{ $index + 1 }}</md-button>
      </div>
    </div>
    <div layout="column" class="md-margin" md-whiteframe="2">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Current Order</h2>
        </div>
      </md-toolbar>
      <md-list class="md-dense">
        <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.order() track by item.item_id">
          <p>{{ item.item_id | itemName:$ctrl._items }}</p>
          <md-button class="md-secondary md-fab md-accent md-mini" ng-click="$ctrl.decrement(item.item_id)">-</md-button>
          <div class="md-secondary"><h1>{{ item.quantity }}</h1></div>
          <md-button class="md-secondary md-fab md-primary md-mini" ng-click="$ctrl.increment(item.item_id)">+</md-button>
        </md-list-item>
      </md-list>
      <md-list>
        <md-list-item>
          <div><h1>Table #</h1></div>
          <div class="md-secondary">{{ $ctrl._currentTable.tableNumber }}</div>
        </md-list-item>
        <md-list-item>
          <div><h1>Total:</h1></div>
          <div class="md-secondary"> {{ $ctrl.total() | currency:"Rs. " }} </div>
        </md-list-item>
        <md-list-item>
          <div><h1>Sales Tax:</h1></div>
          <div class="md-secondary"> {{ $ctrl.tax() | currency:"Rs. " }} </div>
        </md-list-item>
        <md-list-item>
          <div><h1>Discount:</h1></div>
          <div class="md-secondary"> {{ $ctrl.discount() | currency: "Rs. "}}</div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-list-item>
          <div><h1>Grand Total:</h1></div>
          <div class="md-secondary"> {{ $ctrl.calculate() | currency:"Rs. " }}</div>
        </md-list-item>
        <md-list-item ng-show="$ctrl._showCashIn">
          <md-input-container flex>
            <label>Amount Recieved</label>
            <input type="text" pattern="\d*" name="cashIn" ng-model="$ctrl.cashRec">
            <md-button class="md-secondary md-fab md-mini md-hue-2" ng-click="$ctrl.save({transaction_type: 'cash', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax(), cash: $ctrl.cashRec , balance: $ctrl.cashRec - ($ctrl.total()+$ctrl.tax()), discount: $ctrl.discount() })" ng-disabled="!$ctrl.cashRec || $ctrl.cashRec<1">
              <md-icon md-svg-src="\imgs\check.svg"></md-icon>
            </md-button>
          </md-input-container>
        </md-list-item>
        <md-list-item ng-show="$ctrl._showCardIn">
          <md-input-container flex>
          <label>Reciept No.</label>
            <input type="text" name="cardRec" ng-model="$ctrl.cardRecp">
            <md-button class="md-secondary md-fab md-mini md-hue-2" ng-click="$ctrl.save({transaction_type: 'card', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax(), recp: $ctrl.cardRecp })" ng-disabled="!$ctrl.cardRecp || $ctrl.cardRecp.length<3">
              <md-icon md-svg-src="\imgs\check.svg"></md-icon>
            </md-button>
          </md-input-container>
        </md-list-item>
        <md-list-item ng-show="$ctrl._showCashIn">
          <div><h1>Balance:</h1></div>
          <div class="md-secondary">{{  $ctrl.cashRec - $ctrl.calculate() | currency:"Rs. "}}</div>
        </md-list-item>
      </md-list>
      <md-toolbar>
        <div class="md-toolbar-tools" ng-if="$ctrl._showPaymentTypes" ng-hide="$ctrl._enableAgain">
          <md-button class="md-raised md-primary"
            ng-click="$ctrl.cardIn()">
            Card
          </md-button>
          <md-button class="md-raised md-primary"
            ng-click="$ctrl.cashIn({transaction_type: 'cash', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax(), discount: $ctrl.discount() })">
            Cash
          </md-button>
          <md-button class="md-raised" ng-click="$ctrl.printAgain({transaction_type: '', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax(), discount: $ctrl.discount() })" >Print</md-button>
          <md-button class="md-raised md-accent" ng-click="$ctrl.qBills({transaction_type: '', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax(), discount: $ctrl.discount() })">Hold</md-button>
        </div>
        <div class="md-toolbar-tools" ng-if="!$ctrl._showPaymentTypes">
          <md-button class="md-raised md-hue"
            ng-disabled="$ctrl.order().length < 1"
            ng-click="$ctrl.showPaymentTypes()">Finalize</md-button>
          <md-button class="md-raised md-hue" ng-disabled="($ctrl.order().length < 1) || (!$ctrl._currentTable)" ng-click="$ctrl.serve()">Serve</md-button>
          <md-button class="md-raised md-accent" ng-click="$ctrl.abort()">Cancel</md-button>
          <md-button class="md-raised md-hue" ng-click="$ctrl.hold()" ng-disabled="!$ctrl.total()">Hold</md-button>
        </div>
      </md-toolbar>
    </div>
    <div layout="row" layout-align="center center" ng-show="$ctrl._serves.length">
      <h1>Currently Serving</h1>
    </div>
    <md-divider ng-show="$ctrl._serves.length"></md-divider>
    <div layout="row" class="wrap">
      <div ng-repeat="serve in $ctrl._serves">
        <md-button class="md-secondary md-fab md-primary" ng-click="$ctrl.closeServe(serve)">{{ serve.tableNumber }}</md-button>
      </div>
    </div>
  </div>
</md-content>
