<md-content class="md-padding md-margin" layout="row" ng-if="$ctrl.getShift()">
  <div layout="column" layout-fill>
    <div layout="row">
      <md-button class="md-raised md-primary"
        ng-click="$ctrl.back()"
        flex>
          Go Back
      </md-button>
      <md-button class="md-raised md-primary"
        ng-click="$ctrl.endShift()"
        flex>
          End Shift
      </md-button>
    </div>
    <div layout="row" ng-show="$ctrl._hold.length">
      <div ng-repeat="holded in $ctrl._hold">
      <md-button class="md-secondary md-fab md-accent md-mini" ng-click="$ctrl.unhold(holded)">{{ $index + 1 }}</md-button>
      </div>
    </div>
    <div layout="column" class="md-margin" md-whiteframe="2">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Current Order</h2>
        </div>
      </md-toolbar>
      <md-list class="md-dense">
        <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.order() track by item.item_id">
          <p>{{ item.item_id | itemName:$ctrl._items }}</p>
          <md-button class="md-secondary md-fab md-accent md-mini" ng-click="$ctrl.decrement(item.item_id)">-</md-button>
          <div class="md-secondary"><h1>{{ item.quantity }}</h1></div>
          <md-button class="md-secondary md-fab md-primary md-mini" ng-click="$ctrl.increment(item.item_id)">+</md-button>
        </md-list-item>
      </md-list>
      <md-list>
        <md-list-item>
          <div><h1>Total:</h1></div>
          <div class="md-secondary"> {{ $ctrl.total() | currency:"Rs. " }} </div>
        </md-list-item>
        <md-list-item>
          <div><h1>Sales Tax:</h1></div>
          <div class="md-secondary"> {{ $ctrl.tax() | currency:"Rs. " }} </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-list-item>
          <div><h1>Grand Total:</h1></div>
          <div class="md-secondary"> {{ $ctrl.tax() +  $ctrl.total() | currency:"Rs. " }} </div>
        </md-list-item>
      </md-list>
      <md-toolbar>
        <div class="md-toolbar-tools" ng-if="$ctrl._showPaymentTypes" ng-hide="$ctrl._enableAgain">
          <md-button class="md-raised md-primary"
            ng-click="$ctrl.save({transaction_type: 'card', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax() })">
            Card
          </md-button>
          <md-button class="md-raised md-primary"
            ng-click="$ctrl.save({transaction_type: 'cash', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax() })">
            Cash
          </md-button>
        </div>
        <div class="md-toolbar-tools" ng-if="!$ctrl._showPaymentTypes" ng-hide="$ctrl._enableAgain">
          <md-button class="md-raised md-hue"
            ng-disabled="$ctrl.order().length < 1"
            ng-click="$ctrl.showPaymentTypes()">Finalize</md-button>
          <md-button class="md-raised md-accent" ng-click="$ctrl.abort()">Cancel</md-button>
          <md-button class="md-raised" ng-click="$ctrl.hold()" ng-disabled="!$ctrl.total()">Hold</md-button>
        </div>
        <div class="md-toolbar-tools" ng-if="$ctrl._enableAgain">
        <md-button class="md-raised md-hue"
            ng-click="$ctrl.print({transaction_type: 'cash', total: $ctrl.total()+$ctrl.tax(), tax: $ctrl.tax() })">Try Again</md-button>
        </div>
      </md-toolbar>
    </div>
  </div>
</md-content>
