$times-new-roman:               'Times New Roman', Times, Georgia, 'DejaVu Serif', serif;
$times:                         Times, 'Times New Roman', Georgia, 'DejaVu Serif', serif;
$georgia:                       Georgia, 'Times New Roman', 'DejaVu Serif', serif;

$verdana:                       Verdana, Tahoma, 'DejaVu Sans', sans-serif;
$tahoma:                        Tahoma, Verdana, 'DejaVu Sans', sans-serif;
$helvetica:                     Helvetica, Arial, 'Nimbus Sans L', sans-serif;
$arial:                         Arial, Helvetica, 'Nimbus Sans L', sans-serif;

$open-sans:                     'Open Sans', Verdana, sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:                       'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;
