<div layout="row">
  <div flex="33" ng-if="$routeCtrl._addingNew">
    <form name="addCategory" layout="column">
      {{ $routeCtrl._cat }}
      <md-input-container>
        <label>Category Name</label>
        <input type="text" ng-model="$routeCtrl._cat.name">
      </md-input-container>
      <md-button
        class="md-raised md-primary" ng-disabled="false" aria-label="Add"
        md-no-ink="true" md-ripple-size="auto"
        ng-click="$routeCtrl.addNew($routeCtrl._cat)">Save</md-button>
      <md-button
        class="md-raised md-accent" ng-disabled="false" aria-label="Add"
        md-no-ink="true" md-ripple-size="auto"
        ng-click="$routeCtrl.disableForm()">Cancel</md-button>
    </form>
  </div>
  <div flex class="md-padding md-margin">
    <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="12px">

<!--         <md-grid-tile md-col-span="1" md-row-span="1" ng-click="$routeCtrl.setForm()">
          Add New Form
        </md-grid-tile> -->

        <md-grid-tile md-colspan="1" md-rowspan="1" md-whiteframe="1"
          ng-repeat="cat in $routeCtrl.allCats" ng-click="$routeCtrl.gotoCat(cat.id)">
<!--           <md-grid-tile-header>
            <h3>{{ cat.id }}</h3>
          </md-grid-tile-header> -->

          <h1 style="text-align: center;">{{ cat.name }}</h1>

<!--           <md-grid-tile-footer>
            <h3>{{ cat.name }}</h3>
          </md-grid-tile-footer> -->
        </md-grid-tile>
    </md-grid-list>
  </div>
</div>
